/examples/example_2/surrogate_vs_candidates.pdf
*.out
docbuild/
build/
examples/basket_cell/sims/
examples/basket_cell/src/output
*.pyc
*.csv
*~
*#
*.#*
examples/*/src/x86_64
*/x86_64/*
examples/example_*/x86_64/